

<html>
    <head><h1>Outlet Item Details</h1></head>
    <body>
       <form action = "/result" method = "POST">
   
          <label>Enter Item Weight:</label>
          <input type = "text" name = "Item Weight" placeholder="Enter Item Weight"/></br></br>
          
          <label>Select Item Fat Content:</label>
          <!-- <input type="radio" name="Item Fat Content"/>Low Fat
          <input type="radio" name="Item Fat Content"/>Regular</br></br> -->
          <select name="Item Fat Content">
            <option> Select Item Fat Content </option>
            <option> Low Fat </option>
            <option> Regular </option>
         </select></br></br>

          <label>Enter Item Visibility:</label>
          <input type = "text" name = "Item Visibility" placeholder="Enter Item Visibility"/></br></br>

          <label>Select Item Type:</label>
          <select name="Item Type">
            <option> Select Item Type </option>
            <option> Breads </option>
            <option> Breakfast </option>
            <option> Canned </option>
            <option> Dairy </option>    
            <option> Frozen Foods </option>
            <option> Fruits and Vegetables </option>
            <option> Hard Drinks </option>
            <option> Health and Hygiene </option>    
            <option> Household </option>
            <option> Meat </option>    
            <option> Others </option>
            <option> Seafood </option>
            <option> Soft Drinks </option>
            <option> Starchy Foods </option> 
          </select></br></br>

         <label>Enter Item MRP:</label>
         <input type = "text" name = "Item MRP" placeholder="Enter Item MRP"/></br></br>

         <label> Select Outlet Identifier:</label>        
         <select name="Outlet Identifier">
            <option> Select Outlet Identifier </option>
            <option> OUT010 </option>
            <option> OUT013 </option>
            <option> OUT017 </option>
            <option> OUT018 </option>    
            <option> OUT019 </option>
            <option> OUT027 </option>
            <option> OUT035 </option>
            <option> OUT045 </option>    
            <option> OUT046 </option>
            <option> OUT049 </option>
         </select></br></br>   
         
         <label> Select Outlet Establishment Year:</label>
         <select name="Outlet Establishment Year">
            <option> Select Outlet Establishment Year </option>
            <option> 1985 </option>
            <option> 1999 </option>
            <option> 1997 </option>
            <option> 2004 </option>    
            <option> 2002 </option>
            <option> 2009 </option>
            <option> 2007 </option>
            <option> 1998 </option>               
         </select></br></br>   

         <label> Select Outlet Size:</label>
         <select name="Outlet Size">
            <option> Select Outlet Size </option>
            <option> Small </option>
            <option> Medium </option>
            <option> High </option>
         </select></br></br>

         <label>Select Outlet Location Type:</label>
         <select name="Outlet Location Type">
            <option> Select Outlet Location Type </option>
            <option> Tier 1 </option>
            <option> Tier 2 </option>
            <option> Tier 3 </option>
         </select></br></br>

         <label> Select Outlet Type:</label>
         <select name="Outlet Type">
            <option> Select Outlet Type </option>
            <option> Supermarket Type1 </option>
            <option> Grocery Store </option>
            <option> Supermarket Type2 </option>
            <option> Supermarket Type3 </option>
         </select></br></br>        
 
          <input type = "submit" value = "submit" />
       </form>   
    </body>
 </html>